{% extends 'base.html' %}
{% block body %}
<h2>Настройки</h2>
<form action="" method='post'>
  <dl>
    <dt>Мин допустимая температура для открытия окон:</dt>
    <dd><input type="number" style="width: 4em" id="minT" name='minT' value="{{ values['minT'] }}" step="0.2"></dd>
    <dt>Макс допустимая влажность воздуха для запуска увлажнения:</dt>
    <dd><input type="number" style="width: 4em" id="maxAH" name='maxAH' value="{{ values['maxAH'] }}" step="0.2"></dd>
    <dt>Макс допустимая влажность почвы для полива:</dt>
    <dd><input type="number" style="width: 4em" id="maxSH" name='maxSH' value="{{ values['maxSH'] }}" step="0.2">:</dd>
  </dl>
  <input type='submit' value="Сохранить">
</form>
{% endblock %}